<h2>API Credentials</h2>
{% import "_includes/forms" as forms %}

<div id="paymentTypes-ellera-commerce-klarna-gateways-Klarna-region-field" class="field">
    <div class="heading">
        <label id="paymentTypes-ellera-commerce-klarna-gateways-Klarna-region-label" class="required" for="paymentTypes-ellera-commerce-klarna-gateways-Klarna-region">Region</label>
        <div class="instructions"><p>Select your Klarna account region</p>
        </div>
    </div>
    <div class="input ltr">
        {{ forms.select({
            label: gateway.getAttributeLabel('region'),
            name: 'region',
            value: gateway.region,
            options: gateway.available_regions,
            errors: gateway.getFirstError('region')
        }) }}
    </div>

</div>

{{ forms.textField({
    label: gateway.getAttributeLabel('api_uid'),
    name: 'api_uid',
    value: gateway.api_uid,
    errors: gateway.getFirstError('api_uid')
}) }}

{{ forms.textField({
    label: gateway.getAttributeLabel('api_password'),
    name: 'api_password',
    value: gateway.api_password,
    errors: gateway.getFirstError('api_password')
}) }}

{{ forms.textField({
    first: true,
    label: gateway.getAttributeLabel('api_test_uid'),
    name: 'api_test_uid',
    value: gateway.api_test_uid,
    errors: gateway.getFirstError('api_test_uid')
}) }}

{{ forms.textField({
    label: gateway.getAttributeLabel('api_test_password'),
    name: 'api_test_password',
    value: gateway.api_test_password,
    errors: gateway.getFirstError('api_test_password')
}) }}
